<ion-header>
    <ion-toolbar>
        <ion-item lines="none">
            <ion-icon name="close-outline" slot="start" mode="ios" routerLink="/home" routerDirection="root"></ion-icon>
            <ion-title>Share Post</ion-title>
            <ion-button type="button" color="success"> Post </ion-button>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding" size="12">
                <ion-item lines="none" mode="ios">
                    <ion-avatar>
                        <img src="assets/img/avatar.png">
                    </ion-avatar>
                    <ion-label>{{ globalData.userInfo.name}}</ion-label>
                    <ion-chip slot="end" (click)="postPrivacy.open()">
                        <ion-icon *ngIf="globalData.postPrivacy == 'public'" ios="globe-outline" md="globe-sharp"></ion-icon>
                        <ion-icon *ngIf="globalData.postPrivacy == 'friends'" ios="people-circle-outline" md="people-circle"></ion-icon>
                        <ion-icon *ngIf="globalData.postPrivacy == 'only me'" ios="lock-closed-outline" md="lock-closed"></ion-icon>
                        <ion-label>{{ globalData.postPrivacy }}</ion-label>
                        <ion-icon name="chevron-down" mode="ios" class="arrow"></ion-icon>
                    </ion-chip>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-textarea
                        placeholder="What's on your mind?"
                        rows="10"
                    ></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-select
    #postPrivacy
    style="display: none"
    [(ngModel)]="globalData.postPrivacy"
    [interfaceOptions]="customPopoverOptions"
>
    <ion-select-option value="public">Public</ion-select-option>
    <ion-select-option value="friends">Friends</ion-select-option>
    <ion-select-option value="only me">Only Me</ion-select-option>
</ion-select>
