ion-toolbar{
    --min-height: 42px;
    ion-item{
        --padding-start: 0;
        --min-height: 25px;
        --color: #fff;
        ion-buttons{
            ion-back-button{
                --color: #fff;
            }
        }
        ion-title{
            --color: #fff;
            padding-inline-start: 0px;
            padding-inline-end: 0;
        }
    }
}
.ion-page {
    --background: #fff!important;
}
ion-content{
    --background: #fff!important;
    .profile{
        background: #fff;
        margin-bottom: .5rem;
        ion-row{
            ion-col{
                .cover-img{
                    background-size: 100%, auto;
                    min-height: 3rem;
                    height: 8rem;
                    .camera{
                        height: 100%;
                        background: #02020242;
                        ion-icon{
                            margin: 10% auto;
                            width: 100%;
                            font-size: 2.4rem;
                            color: #ffffff;
                        }
                    }
                }
                .avatar-container{
                    position: absolute;
                    top: -3rem;
                    left: .3rem;
                    background: #ffffff;
                    border-radius: 50px;
                    height: 5rem;
                    width: 5rem;
                    padding: 4px;
                    .avatar-img{
                        border-radius: 50px;
                        margin: 0 auto;
                        height: 4.5rem;
                        width: 4.5rem;
                        .camera{
                            height: 100%;
                            background: #02020242;
                            border-radius: 50px;
                            ion-icon{
                                margin: 33% auto;
                                width: 100%;
                                font-size: 1.7rem;
                                color: #ffffff;
                            }
                        }
                    }
                }

            }
        }
    }

    .form-field{
        margin-bottom: 3rem;
        ion-row{
            margin-top: 1rem;
            ion-col{
                padding: 0!important;
                ion-list{
                    padding:0 .3rem 0 .3rem !important;
                    ion-item{
                        --min-height: 70px;
                        --padding-start: 0rem;
                        font-size: 17px;
                        ion-label{
                            font-size: 19px;
                            font-weight: bold;
                        }
                        ion-select{
                            max-width: 100%;
                            width: 100%;
                            --padding-start: 0;
                        }
                    }
                    ion-radio-group{
                        ion-list-header{
                            padding: 0;
                            min-height: 35px;
                            ion-label{
                                font-size: 19px;
                                font-weight: bold;
                            }
                        }
                        ion-item{
                            --min-height: 40px;
                            ion-label{
                                font-size: 17px;
                                font-weight: 500;
                            }
                            ion-radio{
                                margin-inline-end: 5px;
                                width: 20px;
                                height: 30px;
                                --color-checked: var(--theam-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

input[type='file'] {
    display: none;
}