ion-slides {
    height: 100%;
    width: 22.4rem;
    --bullet-background: #dc4313;
    --bullet-background-active: #FF5722;
}

.swiper-slide {
    display: block;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}