/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content{
    --background: #e6e6e6!important;
}

.ion-page{
    --background: #e6e6e6!important;
}

ion-header{
    ion-toolbar{
        --background: #25a3c1;
        --min-height: 42px;
        //--background: #3fb781;
        ion-item{
            --background: #25a3c1;
            --min-height: 30px;
            ion-avatar{
                width: 32px;
                height: 32px;
                margin-inline-end: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
            ion-buttons{
                margin-inline-end: 0;
                --color: #fff;
                ion-back-button{
                    --ion-color-base: #000;
                    height: 20px;
                    width: 20px;
                    --border-radius: 0;
                }
            }


            ion-icon{
                margin-inline-start: 0;
                color: #ffffff;
                height: 28px;
                width: 28px;
            }
        }

    }
}
ion-searchbar{
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.searchbar-input-container{
    .searchbar-input{
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        padding-inline-start: 37px;
    }
    .searchbar-search-icon {
        left: 7px;
        top: 8px;
        width: 20px;
        height: 20px;
    }

}

.searchPage{
    .searchbar-input-container{
        .searchbar-input{
            padding-top: 3px;
            padding-bottom: 3px;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            padding-inline-start: 0;
        }
        .searchbar-search-icon {
            left: 7px;
            top: 8px;
            width: 0px;
            height: 0px;
        }

    }
}