<ion-header>
    <ion-toolbar>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="../../assets/img/avatar.png" alt="">
            </ion-avatar>
            <ion-searchbar routerLink="/search" placeholder="Search.." search-icon="search" [mode]="config.app_mode"></ion-searchbar>
            <ion-icon name="alarm-outline" mode="ios"  slot="end"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-post-component></app-post-component>
    <app-post-component></app-post-component>
    <app-post-component></app-post-component>
    <app-post-component></app-post-component>
</ion-content>
